
:focus, :active {
	outline: none;
}

a:focus, a:active {
outline: none;
}

input::-ms-clear {
display: none;
}

button::-moz-focus-inner {
padding: 0;
border: 0;
}

a:hover {
text-decoration: none;
}

.d-none {
display: none;
}


.hidden {
display: none;
}


.btn-with-underline:hover {
color: #222831;
}


@font-face {
font-family: "icomoon";
src: url("../fonts/icomoon.eot");
src: url("../fonts/icomoon.ttf") format("truetype");
font-weight: normal;
font-style: normal;
font-display: swap;
}

.header .headerIcon {
display: none;
margin: 0 30px 0 0;
color: #222831;
text-decoration: none;
background-color: transparent;
-webkit-transition: 0.3s;
transition: 0.3s;
font-family: "icomoon" !important;
font-style: normal;
font-weight: 400;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
}

.headerContainer .headerContainerBurgerMenu {
width: 24px;
height: 24px;
position: absolute;
top: 4px;
left: 30px;
overflow: hidden;
display: block;
z-index: 8;
}
.headerContainer .headerContainerBurgerMenu:before, .headerContainer .headerContainerBurgerMenu:after {
content: "";
display: block;
width: 100%;
height: 2px;
background-color: #222831;
position: absolute;
-webkit-transition: -webkit-transform 0.5s;
transition: -webkit-transform 0.5s;
transition: transform 0.5s;
transition: transform 0.5s, -webkit-transform 0.5s;
}
.headerContainer .headerContainerBurgerMenu:before {
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, calc(-50% - 3px));
		transform: translate(-50%, calc(-50% - 3px));
}
.headerContainer .headerContainerBurgerMenu:after {
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, calc(-50% + 3px));
		transform: translate(-50%, calc(-50% + 3px));
}

.headerContainer input[type=checkbox]:checked ~ .header__content-left-side {
visibility: visible;
opacity: 1;
}
.headerContainer input[type=checkbox]:checked ~ .headerContainerBurgerMenu:before {
-webkit-transform: translate(-50%, -50%) rotate(45deg);
		transform: translate(-50%, -50%) rotate(45deg);
}
.headerContainer input[type=checkbox]:checked ~ .headerContainerBurgerMenu:after {
-webkit-transform: translate(-50%, -50%) rotate(-45deg);
		transform: translate(-50%, -50%) rotate(-45deg);
}

.headerContainer input[type=checkbox]:checked ~ span {
background-color: #fff;
}

h5.mt-4 {
margin-top: 20px;
}


.accordion__btn {
font-size: 14px;
}

.section-with-diagram__bottom-values-row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}



.black-bg h5 {
color: rgba(255, 255, 255, 0.4);
}


.recomendations h5 {
margin-top: 80px;
margin-bottom: 120px;
}

.calculationContainerVideo {
height: 195px;
width: 100%;
margin-bottom: 160px;
background-repeat: no-repeat;
}


.video-thumbnail .video-thumbnail__media.-bg-image:hover .video-thumbnail__icon {
-webkit-transform: scale(1.2);
		transform: scale(1.2);
background-color: rgba(255, 255, 255, 0.1);
}


.js-calculation-block .btn {
margin-top: 18px;
}


.preloader-overlay .preloader-item .preloader-overlay__preloader-item {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
}