@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-size: 18px;
	width: 100%;
	height: 100%;
    line-height: 1.6;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
	position: relative;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top; width: 100%;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.d-none{
    display:none;
}

.container {
	max-width: 1200px;
	padding: 0 30px;
	margin: 0 auto;
	width: 100%;
}
.containerFluid{
	padding: 0 30px;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
h1{
	font-size: 30px;
	font-weight: 700;
    line-height: 1.4;
    color: inherit;
	margin-bottom: 40px;		
}

h2{
    font-size: 26px;
	margin-bottom: 40px;
	font-weight: 700;
    line-height: 1.4;
    color: inherit;
}
h5{
    font-size: 20px;
	margin-bottom: 20px;
    font-weight: 600;
}

h6{
    font-family: inherit;
    margin-bottom: 5px;
    font-weight: 400;
    color: #000;
}

p{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{color: #222831;}

input{
	background-color: #fff;
    border: 2px solid #000;
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1;
    border-radius: 0;
}

select{
	background-color: #fff;
    border: 2px solid #000;
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1;
    border-radius: 0;
}

.anchor-title{
	margin-top: 100px;
}

.mb4{
	margin-bottom: 1.5rem!important;
}

.hidden{
	display: none;
}


.scroll-top-btn {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 101;
    border: none;
    cursor: pointer;
    background-color: rgb(242, 168, 115);
    transition: .3s;
    transform: translate(-100%, 0px);
	width: 60px;
    height: 60px;
	.scroll-top-btn__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0px 10px 15px;
		border-color: transparent transparent rgb(255, 255, 255);
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		font-family: icomoon !important;
	}
}

.scroll-top-btn.-show {
    transform: translate(0px, 0px);
	transition: .3s;
}



.btn{
	font-weight: 600;
    color: #222831;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.125rem;
    line-height: 1.35;
    border-radius: 0;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
	cursor: pointer;
	font-size: 16px;
	min-width: 100px;
	width: auto;
}
.btn-white {
    background-color: #fff;
}
.btn-primary{
    color: #fff;
	background-color: #f2a873;
    border-color: #f2a873;
}
.btn-lg {
    padding-left: 20px;
    padding-right: 20px;
	min-width: 100%;
    padding-top: 15px;
    padding-bottom: 17px;
}

.btn-with-underline {
    position: relative;
    display: inline-block;
    border-bottom: 3px solid #f2a873;
    padding: 20px 50px 20px 20px;
    font-family: "Source Sans Pro","Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 600;
    transition: color .3s;
    width: 100%;
	&:hover {
		color: #222831;
	}
	&:after {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 0 5px 7px;
		border-color: transparent transparent transparent #222831;
		content: '';
		display: inline;
		font-size: 0;
		transition: border-color .3s;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translate(0,-50%);
	}
}

.font-weight-light {
    font-weight: 300;
}

.black-bg {
    background-color: #171b21;
    color: #fff;
}

body{
	&::-webkit-scrollbar{
		width: 10px;
		height: 10px;
	}
	&::-webkit-scrollbar-thumb{
		border-radius: 0;
		background-color: #f2a873;
		background-repeat: no-repeat;
		background-position: center;
	}
	&::-webkit-scrollbar-track{
		background-color: #222831;
	}
}


.header {
	max-width: 100vw;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1030;
    background-color: transparent;
    transition: background-color 0.3s,padding 0.3s,box-shadow 0.3s;
    padding: 15px 0;
	.headerIcon{
		display: none;
		margin: 0 30px 0 0;
		color: #222831;
		text-decoration: none;
		background-color: transparent;
		transition: .3s;
		font-family: "icomoon" !important;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		&:hover {
			color: #f2a873;
			text-decoration: none;
		}
		i{
			&::before{
				content: "";
			}
		}
	}
	&Container{
		display: flex;
		align-items: center;
		max-width: none;
		position: relative;
		input{
			width: 24px;
			height: 24px;
			position: absolute;
			top: 4px;
			left: 30px;
			z-index: 9;
			opacity: 0;
		}
		.headerContainerBurgerMenu{
			width: 24px;
			height: 24px;
			position: absolute;
			top: 4px;
			left: 30px;
			overflow: hidden;
			background-color: transparent;
			display: block;
			z-index: 8;
			&:before, &:after {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background-color: #222831;
				position: absolute;
				transition: transform 0.5s;
			}
			&:before {
				top: 50%;
				left: 50%;
				transform: translate(-50%,calc(-50% - 3px));
			}
			&:after {
				top: 50%;
				left: 50%;
				transform: translate(-50%,calc(-50% + 3px));
			}
		}
		button{
			margin-left: auto;
			position: relative;
			z-index: 8;
		}
		.header__content-left-side {
			position: absolute;
			top: 50px;
			height: calc(100vh - 65px);
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			padding: 50px 30px;
			overflow: auto;
			visibility: hidden;
			opacity: 0;
			transition: visibility .3s,opacity .3s;
			background-color: #fff;
			.header__dec-icon {
				margin: 0 0 30px;
				transition: color .3s;
			}
			i {
				font-family: "icomoon";
				font-style: normal;
				font-weight: 400;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: #222831;
				&:before {
					content: "";
				}
			}
			.main-nav-list__item:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		input[type="checkbox"]:checked ~ .header__content-left-side {
			visibility: visible;
			opacity: 1;
		}
		input[type="checkbox"]:checked ~ .headerContainerBurgerMenu:before {
			transform: translate(-50%,-50%) rotate(45deg);
		}
		input[type="checkbox"]:checked ~ .headerContainerBurgerMenu:after {
			transform: translate(-50%,-50%) rotate(-45deg);
		}
		span{
			width: 100vw;
			height: 100px;
			background-color: transparent;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			transition: .3s;
		}
		input[type="checkbox"]:checked ~ span {
			background-color: #fff;
		}
	}

}

h5.mt-4{
	margin-top: 20px;
}


.header.-small {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	.btn{
		background-color: rgb(242, 168, 115);
    	color: rgb(255, 255, 255);
	}
}

.header.-active {
    background-color: #fff;
}

.start{
	padding-top: 95px;
	position: relative;
	background-image: url("https://matrix-destiny.com/wp-content/uploads/2020/10/c9159e14-cd0d-45b0-a346-976ca457f0ae.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&Container{
		position: relative;
		z-index: 2;

		h1{
			margin-bottom: 120px;
		}
		.startContainerBtnBlock{
			display: flex;
			flex-direction: column;
			min-height: 150px;
			a{
				display: inline-block;
				max-width: 310px;
			}
		}
	}
	img{
		display: none;
	}
	&::after{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		content: '';
		background-color: rgba(255,255,255,.74);
	}
}

.quote {
	width: 100%;
	font-size: 18px;
    line-height: 1.6;
	position: relative;
    z-index: 1;
    background-color: #f7f8f8;
    padding: 80px 0;
    font-size: 22px;
    font-family: "Philosopher","Times New Roman","Times","Baskerville","Georgia",serif;
	&Container{
		display: flex;
		justify-content: flex-end;
	}
	p{
		text-align: right;
		font-style: italic;
	}
}

.about, .aboutContainerSecond{
	p{
		margin-top: 0;
	}
	.form-row{
		margin-bottom: 18px;
		.required {
			color: red;
			font-weight: 700;
			border: 0;
			text-decoration: none;
		}
	}
}

.section-calculation{
	.h5{
		margin-bottom: 20px;
	}
}

.aboutMethod{
	&Container{
		img{
			width: 100%;
			margin: 80px 0;
		}
	}
}



.blog{
	&Container{
		.blog-card {
			display: block;
			margin-bottom: 30px;
			&__body{
				padding: 15px 0 0;
			}
			&__img{
    			position: relative;
				img{
					width: 100%;
				}
				&:after {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					content: '\e90f';
					font-family: "icomoon" !important;
					background-color: rgba(0,0,0,.4);
					color: #fff;
					font-size: 40px;
					opacity: 0;
					transition: opacity .3s;
				}
			}
			&__title {
				display: inline-block;
				font-size: 18px;
			}
			&__description {
				position: relative;
				font-size: 14px;
				overflow: hidden;
				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 15px;
					left: 0;
					right: 0;
					height: 60px;
					background: linear-gradient(rgba(255,255,255,0),#fff);
					pointer-events: none;
				}
			}
		}
	}
}



.necessity {
	margin-bottom: 160px;
	&Container{
		h2{
			margin-bottom: 80px;
			font-size: 25px;
		}
		&Item{
			text-align: center;
			margin-bottom: 70px;
		}
	}
}

.black-bg h5 {
    color: rgba(255, 255, 255, 0.4);
}

.opportunities{
	margin-bottom: 180px;
	&Container{
		ul{
			max-width: 650px;
			margin-top: 80px;
			li{
				position: relative;
				padding-left: 70px;
				font-size: 15px;
				font-weight: 300;
				&:not(:last-child) {
					margin-bottom: 35px;
				}
				&:before {
					width: 40px;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					content: "\e902";
					font-family: "icomoon";
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 50%;
					border: 1px solid rgba(34,40,49,.1);
					color: #7ee48e;
					font-size: 10px;
				}
			}
		}
	}
}



.discover{
	p{
		margin-bottom: 40px;
		&:first-of-type{
			font-size: 15px;
		}
	}
	img{
		margin: 80px 0;
		margin-bottom: 160px;
	}
}

.recomendations{
	padding-top: 160px;
	padding-bottom: 140px;
	h5{
		margin-top: 80px;
		margin-bottom: 120px;
	}
	&Container{
		&Item{
			text-align: center;
			margin-bottom: 70px;
		}
	}
}

.whiteSpace{
	&Container{
		padding: 40px 60px;
		p{
			max-width: 200px;
		}
	}
}

.calculation {
	width: 100%;
	padding: 80px 0px;
	&Container{
		ul{
			margin-bottom: 80px;
			li{
				position: relative;
				padding-left: 40px;
				font-size: 15px;
				&:not(:last-child) {
					margin-bottom: 25px;
				}
				&::before {
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 5px 0px 5px 7px;
					border-color: transparent transparent transparent rgba(255, 255, 255, 0.1);
					position: absolute;
					top: 7px;
					left: 0px;
					content: "";
					display: inline-block;
				}
			}
		}
		&Video{
			height: 195px;
			width: 100%;
			margin-bottom: 160px;
			background-repeat: no-repeat;
		}
	}
}

.receive{
	&Container{
		text-align: center;
		h5{
			margin-bottom: 80px;
			color: rgba(255,255,255,.4);
		}
		ul{
			li{
				margin-bottom: 70px;
			}
		}
	}
}

.guarantee{
	padding: 160px 0;
	&Container{
		text-align: center;
		ul{
			li{
				font-size: 18px;
				color: rgba(255,255,255,.3);
				line-height: 36px;
				&:not(:last-child) {
					position: relative;
					padding-bottom: 40px;
					margin-bottom: 40px;
					&:after {
						content: '';
						display: block;
						width: 160px;
						height: 1px;
						background-color: rgba(255,255,255,.2);
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translate(-50%,0);
					}
				}
			}
		}
	}
}



.contacts{
	&Container{
		text-align: center;
		p{
			padding-bottom: 100px;
			border-bottom: 1px solid #c4c4c4;
			margin-bottom: 100px;
		}
		h4{
			text-align: center;
			color: rgba(0,0,0,.3);
			line-height: 1.2;
			margin-bottom: 20px;
		}
		.price-card {
			margin-bottom: 50px;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
			border: 2px solid rgba(0,0,0,.05);
			padding: 35px 20px;
			width: 100%;
		}
		.price-card.-hit {
			border-color: #f2a873;
		}
		.price-card.-hit .price-card__hit-icon {
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-30%,-30%);
			width: 50px;
		}
		.price-card__top-content {
			margin-bottom: 50px;
		}
		.price-card__title {
			margin-bottom: 30px;
			font-size: 24px;
		}
		.list-with-triangle li {
			position: relative;
			padding-left: 40px;
			text-align: start;
			&::before {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 0 5px 7px;
				border-color: transparent transparent transparent #000;
				position: absolute;
				top: 7px;
				left: 0;
				content: '';
				display: inline-block;
			}
		}
		.price-card__price-block {
			margin-bottom: 10px;
			.price.-discount {
				text-decoration: line-through;
				font-size: 22px;
			}
			.price {
				font-size: 48px;
				line-height: 1.4;
			}
		}
	}
}
.video-thumbnail {
    padding-bottom: 75.0378%;
    position: relative;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
	.video-thumbnail__media.-bg-image {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.video-thumbnail__media {
		position: absolute;
		right: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 1;
		border: none;
	}
	.video-thumbnail__overlay {
		position: absolute;
		inset: 0px;
		width: 100%;
		padding: 30px 25px 100px;
		z-index: 5;
		display: flex;
	}
	.video-thumbnail__overlay-title {
		margin-bottom: 0px;
		color: rgb(255, 255, 255) ;
	}
	.video-thumbnail__media.-bg-image:hover .video-thumbnail__icon {
		transform: scale(1.2);
		background-color: rgba(255, 255, 255, 0.1);
	}
	.video-thumbnail__icon {
		position: absolute;
		bottom: 25px;
		right: 30px;
	}
	.video-icon {
		width: 60px;
		height: 60px;
		position: absolute;
		display: block;
		border: 2px solid rgb(255, 255, 255);
		border-radius: 50%;
		transition: transform 0.5s ease 0s, background-color 0.5s ease 0s;
		background-color: transparent;
		flex-shrink: 0;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		font-family: "icomoon";
		&::after {
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 9.5px 0px 9.5px 15px;
			border-color: transparent transparent transparent rgb(255, 255, 255);
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 54%;
			transform: translate(-50%, -50%);
		}
	}
}


.footer {
    background-color: #171b21;
    padding: 45px 0 70px;
	h6{
		font-family: inherit;
		margin-bottom: 5px;
		font-weight: 400;
		color: rgba(255,255,255,.4);
	}
	.payment-methods-list__item {
		display: flex;
		width: 43px;
		height: 16px;
		margin: 5px;
	}
	i {
		font-family: "icomoon";
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		
	}
	.icomoon-instagram:before {
		content: "";
	}
	.icomoon-youtube:before {
		content: "";
	}
	.icomoon-facebook:before {
		content: "";
	}
	.social-list.-lg {
		font-size: 28px;
		.social-list__item:not(:last-child) {
			margin-right: 25px;
		}
		.social-list__link {
			color: #fff;
			transition: color .3s;
		}
		li{
			display: inline-block;
		}
	}
	.footer__additional-text a, .footer__copyright a {
		color: #f2a873;
		transition: color .3s;
	}
	.footer__main-content {
		position: relative;
		.footer__additional-text {
			margin-bottom: 30px;
		}
		
		.footer__additional-text, .footer__copyright {
			margin-bottom: 0;
			font-size: 17px;
			font-weight: 300;
			color: rgba(255,255,255,.4);
		}

		.social-list.-lg {
			font-size: 28px;
		}
		.social-list {
			font-size: 22px;
			line-height: 1;
		}
		.footer__social-list {
			margin-bottom: 30px;
		}

		.footer__payment-methods-content {
			margin-bottom: 20px;
			color: #fff;
		}
	}
	.payment-methods-list {
		display: inline-flex;
		flex-wrap: wrap;
		.payment-methods-list__item {
			height: 20px;
			width: 45px;
			margin: 5px 10px;
		}
	}
}

.info{
	.containerFluid{
		padding: 0;
	}
}

.js-calculation-block{
	.btn{
		margin-top: 18px;
	}
}

.mb-4{
	margin-bottom: 1.5rem ;
}


@media screen and (min-width: 576px) {
	.btn-lg {
		min-width: 310px;
		padding-top: 19px;
		padding-bottom: 22px;
	}
	.blogContainerInner{
		display: flex;
		flex-wrap: wrap;
	}

	.blog-card {
		margin-bottom: 60px;
		padding-left: 30px;
   		padding-right: 30px;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.btn-with-underline{
		vertical-align: middle;
		padding: 25px 85px 25px 20px;
		width: auto;
		font-size: 18px;
	}
	.blog{
		.btn-with-underline{
			display: block;
			margin: 0 auto;
			max-width: fit-content;
		}
	}
	.necessity{
		&Container{
			&Inner{
				display: flex;
				flex-wrap: wrap;
			
			}
			&Item{
				display: flex;
				align-items: center;
				flex-direction: column;
				flex: 0 0 50%;
    			max-width: 50%;
				padding: 0 30px;
				margin-bottom: 70px;
			}
		}
	}
	.container{
		max-width: 540px;
	}
	.imageDecoration{
		&Inner{
			max-width: 540px;
			padding: 0 30px;
			margin: 0 auto;
		}
	}
	.whiteSpace{
		background-color: #171b21;
		&Container{
			padding: 40px 30px;
			div{
				background-color: #fff;
				padding: 40px 60px;
				p{
					max-width: none;
				}
			}
		}
	}
	.contacts{
		background-image: url("https://matrix-destiny.com/wp-content/uploads/2020/09/section-contacts-bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-bottom: 100px;
		.contactsContainerInner{
			position: relative;
			padding-right: 100px;
			padding-top: 140px;
    		padding-bottom: 100px;
			*{
				position: relative;
				z-index: 5;
			}
			&::before {
				content: '';
				display: block;
				background-color: #fff;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 9999px;
			}
		}
	}
}

.main-nav-list {
    list-style-type: none;
    font-size: 18px;
    font-family: "Source Sans Pro","Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	.main-nav-list__item:not(:last-child) {
		margin-bottom: 0;
		margin-right: 30px;
	}
}

#menu-main-menu{
	display: none;
}

@media screen and (min-width: 768px) {
	.recomendations {
		margin-top: 180px;
	}
	.receive{
		padding-top: 250px;
	}
	.video-thumbnail {
		transform: translate(-42%,70px);
		width: 450px;
    	float: right;
	}
	.video-thumbnail__icon {
		position: relative;
		bottom: auto;
		right: auto;
	}
	.infoInner{
		justify-content: flex-end
	}
	.video-thumbnail .video-thumbnail__overlay{
		align-items: flex-end;
		padding: 30px 25px 30px;
	}
	.headerContainer .headerContainerBurgerMenu{
		display: none;
	}
	.header .headerIcon{
		display: inline-block;
		i{
			font-style: normal;
		}
	}
	.header{
		input, span{
			display: none;
		}
	}
	#menu-main-menu {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	.container{
		max-width: 720px;
	}
	.start{
		background: none;
		padding: 180px 0px;
		position: relative;
		padding-bottom: 160px;
		.startContainer{
			display: flex;
			width: 100%;
			align-items: center;
			&Flex{
				display: flex;
				flex-direction: column;
				flex: 0 0 50%;
				max-width: 50%;
				margin-right: 50px;
			}

		}
		img{
			display: block;
			height: 742px;
			width: 43.5%;
			object-fit: cover;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 9;
		}
	}
	.quote{
		&Container{
			justify-content: center;
			p{
				max-width: 510px;
			}
		}
	}
	.mdFlex{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.aboutMethod{
		.mdFlex{
			img{
				width: 260px;
				object-fit: contain;
				margin: 0 20px;
			}
			div{
				width: 100%;
				margin-left: 60px;
				p{
					margin-bottom: 50px;
				}
			}
		}
	}
	.necessityContainerItem{
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
		padding: 0;
	}
	.opportunitiesContainer{
		display: flex;
		h2{
			margin-top: 0;
		}
		img{
			width: 260px;
			height: 478px;
			padding-right: 20px;
    		padding-left: 20px;
		}
		&Inner{
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	.discoverContainer{
		display: flex;
		h2{
			margin-top: 0;
		}
		img{
			width: 260px;
			height: 390px;
			padding-right: 20px;
    		padding-left: 20px;
		}
		&Inner{
			padding-right: 20px;
			padding-left: 20px;
			margin-right: 60px;
		}
	}
	.recomendationsContainer{
		&Inner {
			display: flex;
		}
		&Item{
			padding-right: 20px;
    		padding-left: 20px;
			flex: 0 0 33.3333%;
    		max-width: 33.3333%;
		}
	}
	
	.info{
		background-color: #171b21;
		&Container{
			display: flex;
		}
		&Inner{
			display: flex;
			flex-direction: column-reverse;
			flex: 0 0 58.3333%;
			max-width: 58.3333%;
			width: 100%;
			padding-right: 20px;
			padding-left: 20px;
			background-color: #171b21;
			.imageDecorationInner{
				padding: 0;
			}
		}
		.container {
			max-width: none;
			padding: 0;
			margin: 0;
			width: auto;
		}
	}
	.receiveContainer {
		ul{
			display: flex;
			li{
				flex: 0 0 33.3333%;
    			max-width: 33.3333%;
				padding-right: 20px;
    			padding-left: 20px;
			}
		}
	}
	.footer__main-content {
		text-align: center;
	}
}
.aboutContainerSecond{
	padding: 0 20px;
}



@media (min-width: 992px){
	.aboutContainerSecond{
		flex: 0 0 83.3333%;
		max-width: 1060px;
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
		margin: 0 auto;
	}
	.imageDecorationInner{
		max-width: none;
	}
	.container {
    	max-width: 960px;
	}
	.quote{
		p{
			max-width: 750px;
		}
	}
	.video-thumbnail{
		width: 550px;
	}
	.blog-card{
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
		padding-left: 20px;
		padding-right: 20px;
		img{
			height: 157px;
		}
		&:first-of-type{
			padding-left: 0;
		}
		&:last-of-type{
			padding-right: 0;
		}
	}
	.necessityContainerItem{
		flex: 0 0 25%;
    	max-width: 25%;
	}
	.opportunitiesContainer{
		img{
			width: 360px;
			height: 663px;
		}
	}
	.discover{
		img{
			width: 360px;
			height: 540px;
		}
	}
	.contactsContainerPrices{
		display: flex;
		.price-card{
			margin: 0 8px;
		}
	}
	.infoInner{
		max-width: 560px;
		margin-right: 8.33333%;
	}
}
@media (min-width: 1260px){
	.container{
    	max-width: 1200px;
	}
	.footer__main-content {
		text-align: left;
	}
	.quote p{
		margin-right: 85px;
		margin-left: auto;
		text-align: end;
	}
	.aboutMethod .mdFlex {
		margin-top: 100px;
		img{
			width: 500px;
			height: 600px;
		}
	}
	.opportunities {
		img{
			width: 460px;
			height: 847px;
		}
	}
	.discover{
		img{
			width: 460px;
			height: 690px;
		}
	}
}
form{
	.col-lg-6{
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}
.preloader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 1060;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s,visibility 0.3s;
	.preloader-item {
		height: 50px;
		width: 50px;
		border: 5px solid rgba(242,168,115,.3);
		border-top: 5px solid #f2a873;
		border-radius: 50%;
		animation: rotate 1s infinite linear;
		.preloader-overlay__preloader-item {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}